body{background-color:#008acb;padding:0;margin:0;overflow:hidden;font-family:system ui, "segoe ui", sans-serif, arial, tahoma;font-size:14px}
.toolbar{position:absolute;bottom:5px;right:0;z-index:99999;padding-right:5px}
.toolbar div{display:inline-block;margin-left:5px;width:24px;height:24px}
.toolbar .refresh{background:url(../img/loading.png) no-repeat center}
.toolbar .download{background:url(../img/download.gif) no-repeat center}
.toolbar .offline{background:url(../img/network-off.png) no-repeat center}
.frame, .tFrame, .pAbsolute{position:absolute;overflow:hidden}
.frame .container, .tFrame .tContainer{position:absolute;width:100%}
.flex-c{display:flex;align-items:center}
.flex-column{flex-direction:column}
.align-normal{align-items:normal!important}
.align-top{align-self:flex-start}
.d-grid{display:grid}
.text-l{text-align:left}
.text-r{text-align:right}
.text-c{text-align:center}
.vam{vertical-align:middle}
.overflow-hidden{overflow:hidden}

.vAlign-t{vertical-align:top}
.vAlign-m{vertical-align:middle}
.vAlign-b{vertical-align:bottom}
.vAlign-tb{vertical-align:text-bottom}

.text-blue{color:#0c69af}
.text-bold{font-weight:600}

.hide{display:none}
.show{display:block}
.vHide{visibility:hidden}
.vShow{visibility:visible}
p, .p{margin:0;padding:0}

.img-responsive{max-width:100%;height:auto}

.d-flex.align-l{justify-content:flex-start!important}
.d-flex.align-c{justify-content:center!important}
.d-flex.align-r{justify-content:flex-end!important}
.d-flex.vAlign-t{align-items:flex-start!important}
.d-flex.vAlign-m{align-items:center!important}
.d-flex.vAlign-b{align-items:flex-end!important}

.tHeader{display:table-header-group!important}
.tFooter{display:table-footer-group!important}

/* Loading */
#waiting{text-align:center;float:left;visibility:hidden}
#waiting p{float:right;width:395px;font-size:30px;color:#fff}
#fs{background:#000000;position:absolute;z-index:9999;left:0;right:0;top:0;text-align:center;width:100%;height:100%}
#logoBottom{position:absolute;right:30px;bottom:35px}

#versionQuad{background-color:#fff;color:#444444;font-size:90%;padding:1px;position:absolute;left:0;bottom:0;z-index:9999}

.spin{animation:spin 1s linear infinite;-webkit-animation:spin 1s linear infinite}
@-webkit-keyframes spin{100%{-webkit-transform:rotate(360deg)}}
@keyframes spin{100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}

/* Dialog */
.lsn-dialog{background-color:rgba(0, 0, 0, 0.4);position:fixed;top:0;right:0;bottom:0;left:0;z-index:9999;padding-top:160px;padding-bottom:160px}
.lsn-dialog-body{background-color:#f0f0f0;margin:0 auto;max-width:100%;position:relative;overflow:hidden}

/* Registration */
.mac-quad .panel-heading{background-color:#2289d6;color:#ffffff;font-weight:600;font-size:16px;letter-spacing:1px;padding:10px}
.mac-quad .panel-body{padding:10px}
.mac-quad .panel-body h1{font-size:18px}
.mac-quad .bg-icon{background:url("../img/squared.png") no-repeat  #f6f6f6 right -75px bottom -110px}
.mac-quad .id-quad{background-color:#80c9fb;height:40px;line-height:40px;font-size:30px;font-weight:700;margin:50px 0 20px}
.mac-quad .id-quad span:nth-child(1){background-color:#a5d9fd;font-size:16px;float:left;font-weight:600;margin-right:20px;padding:0 15px}
.mac-quad .panel-footer{background-color:#d5d0d0;padding:10px}
/* .inst-btn{background-color:#2289d6;color:#ffffff;padding:10px 40px;font-size:24px} */

/* Widgets */
.wHeader{padding:10px;font-size:26px;font-weight:bold;height:26px;line-height:26px;text-transform:capitalize}
.wHeader .icon{float:left;margin:-5px 10px 0 0;width:36px}
.wHeader div{flex-grow:1;text-overflow:ellipsis;overflow:hidden;white-space:nowrap}

.avatar,.twitter-avatar,.instagram-avatar,.facebook-avatar,.fbworkplace-avatar{float:left;margin-right:10px}
.twitter-avatar,.instagram-avatar,.facebook-avatar,.fbworkplace-avatar{height:48px;min-height:48px;max-height:48px;width:48px;min-width:48px;max-width:48px}
.fbworkplace-avatar
/* .title{font-weight:600;text-overflow:ellipsis;overflow:hidden;white-space:nowrap}
.title > span{float:right;font-weight:normal} */

/* DateTime */
.dt-t1{display:inline-block;float:left;text-align:center;font-weight:bold;border-radius:4px}
.blink{animation:blinker 1s linear infinite}

@keyframes blinker{50%{opacity:0}}
/* .bTab{
	.nav{border-radius:0;font-size:$fontSize;padding:8px 8px 0 8px}
 	.nav.active,
	.tab-body{padding:10px}
 	ul li.active{border-bottom:0}
 	li.active>a, li.active>a:focus, li.active>a:hover{box-shadow:none;padding-bottom:12px}
 	ul li a{border-radius:0;border:none}
} */


.pull-left{float:left}
.pull-right{float:right}

.clearfix{clear:both;float:none!important}
.clearfix:after, .clearfix:before{content:"";display:table}

.img-helper{display:inline-block;vertical-align:middle;height:100%}

/* Excel */
.excelTbl{font-size:20px}
.excelTbl .th{height:50px;line-height:50px;display:flex;align-items:center;font-weight:600;width:100%}
.excelTbl .row{height:50px;line-height:50px;display:flex;align-items:center;font-weight:600}
.excelTbl .cell{float:left;overflow:hidden;white-space:nowrap;padding:0 5px}
.excelTbl .footer{font-size:16px;height:30px;line-height:30px;width:100%;text-align:right;position:absolute;right:0;bottom:0}
.excelTbl .footer>div{padding:0 10px}
.oh-hr{border-bottom:1px solid rgba(0, 0, 0, 0.1);padding-bottom:8px;margin-bottom:8px}


.wb-row>div:nth-child(-n+2){box-shadow:1px 0 0 0 #e6e6e6}
.wb-row{height:100px;overflow:hidden}
.wb-logo{float:left;padding:5px;background-color:#e6e6e6;width:100px;height:70px;margin-right:10px;text-align:center;overflow:hidden}
.wb-logo img{width:100%}
.wb-time>div{font-size:12px;height:30px;line-height:30px;padding:10px;text-align:center}
.wb-time>div:nth-child(1){border-bottom:1px solid #e6e6e6}
.wb-room{text-align:center;position:relative;top:50%;transform:translateY(-50%)}
.wb-title{display:flex;align-items:center}

.meetingHeaderText, .calendarHeaderText{font-size:30px;font-weight:bold}
.meetingTitle, .calendarTitle{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;width:100%}
.roomBoard{display:flex;flex-direction:column;justify-content:space-around}

/*Emergency Message*/
@keyframes emBlink{
	0%{background-color:transparent}
	50%{background-color:#000}
	100%{background-color:transparent}
}
.emBlink{animation:emBlink 1s infinite;height:100%;width:100%;display:inline-block}
.emQuad{position:absolute;z-index:99999;top:0;height:100%;width:100%}
.emTopQuad{margin:40px 40px 0;padding:40px}
.emImg{min-width:30vh;margin-right:20px}
.emImg img{height:100%;width:100%}

/*Stock*/
.stock-single{padding:10px}
.stock-single h2, .stock-single h3{margin-top:0;margin-bottom:10px}
.stockH{width:100%;height:50px;font-weight:600;text-align:center}
.dayChange{margin-left:40px}
.dayChange svg{margin-right:10px}

/*Weather*/
.forecast,.forecast2,.forecast3{background-color:#ffffff;border-radius:6px;text-align:center;width:134px}
.forecast2,.forecast3{width:255px;height:150px;margin:0 0 5px 5px;float:left;text-align:left}
.forecast3{width:100%;margin:0 0 5px 0}
.forecast .wfH{background-color:#f3f3f3;border-radius:3px 3px 0 0;padding:5px;font-weight:bold}
.forecast .wfF,.forecast2 .wfF,.forecast3 .wfF{background-color:#f3f3f3;border-radius:0 0 3px 3px;padding:5px;text-align:left}

.forecast.t1{margin-bottom:5px}
.forecast.t1.h{display:table-cell}

.bdrT{border-top:1px solid #797979}
.bdrR{border-right:1px solid #797979}
.bdrL{border-left:1px solid #797979}
.bdrB{border-bottom:1px solid #797979}
.divCell{display:flex;align-items:center;justify-content:left;padding:0 5px}
.text-center{text-align:center;justify-content:center}

.t-l,.m-l,.b-l{text-align:left}
.t-c,.m-c,.b-c{text-align:center}
.t-r,.m-r,.b-r{text-align:right}
.t-l,.t-c,.t-r{vertical-align:top}
.m-l,.m-c,.m-r{vertical-align:middle}
.b-l,.b-c,.b-r{vertical-align:bottom}

#ab html body{display:none!important}
.excelTableFont{font-size:22px;font-weight:bold}

.justify-center{justify-content:center}
.align-item-center{align-items:center}
.text-ellipsis{text-overflow:ellipsis; overflow:hidden; white-space:nowrap}
.flightHeadH{height:70px}
.fbThumb{padding-left:10px;align-self:start;height:150px}
.fSHeader{background:#ccc;font-size:18px;padding:3px 0}
.flightImg{width:fit-content;text-align:center}
.flightName{line-height:1.3em}
.airlineName{font-size:14px}
.text-overflow{overflow:hidden;white-space:nowrap}
.boxIcon{height:15px;width:15px}
.flightFooter{height:12px;position:absolute;bottom:0}


/* Spacing */
.pad5{padding:5px}
.pad8{padding:8px}
.pad10{padding:10px}
.padTB10{padding-top:10px;padding-bottom:10px}
.padLR10{padding-left:10px;padding-right:10px}
.padLR5{padding-left:5px;padding-right:5px}

.marT8{margin-top:8px}
.marR5{margin-right:5px}
.marR10{margin-right:10px}
.marR20{margin-right:20px}
.marR50{margin-right:50px}
.marB20{margin-bottom:20px}
.marL10{margin-left:10px}
.marLR10{margin-left:10px;margin-right:10px}

.noMarB{margin-bottom:0}
.noMar{margin:0}

.w10{width:10%}
.w15{width:15%}
.w18{width:18%}
.w20{width:20%}
.w25{width:25%}
.w30{width:30%}
.w40{width:40%}
.w50{width:50%}
.w60{width:60%}
.w65{width:65%}
.w80{width:80%}
.w85{width:85%}
.w100{width:100%}
.h100{height:100%}

.flight .rIcon svg{padding:8px}

/* count */
.countPT{justify-content:center;text-align:center}
.countPL{justify-content:flex-start;text-align:center}
.countPR{justify-content:flex-end;text-align:center}
.countPB{justify-content:center;text-align:center;align-items:flex-end}
